.container {
    flex: 1 1;
}

.body {
    padding: 10px 0;
}

/* .content {} */

.cover {
    display: inline-block;
    position: relative;

    width: 120px;
    height: 150px;
    margin-right: 10px;

    border: 1px solid silver;
    background-color: #eee;

    text-align: center;

    overflow: hidden;
}

.cover span {
    line-height: 150px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
}


@media all and (max-width: 1220px) {
    /* .container {} */
}